<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Him</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <h1>Facts About the Little Boy</h1>

    <div>
      <img id="giraffe" src="/images/leo-giraffe.jpg" alt="Leo with giraffe" />
    </div>

    <ul>
      <li>Name: Leonardo</li>
      <li>Favorite type of toy: plushies that squeak</li>
      <li>Favorite fruit: all</li>
      <li>Nicknamed "the Walking Mango" due to the large amount of mangos he ate during his lifetime</li>
      <li><i>Lived July 15, 2005 - December 19, 2021</i></li>
    </ul>

    <div>
      <img id="toy" src="/images/leo-toy.jpg" alt="Leo with toy" />
    </div>

    <div>
      <a href="/home">Back to the home page</a><br />
      <a href="/works">Check out his costume collection</a><br />
      <a href="/gallery">See more photos</a>
    </div>
  </body>
</html>
