<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Photos</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>

    <h1>Photo Gallery</h1>

    <img id="pilgrim" src="/images/leo-pilgrim.png" alt="pilgrim Leo">

    <img id="rocks" src="/images/leo-rocks.JPG" alt="Leo on rocks">

    <p></p>

    <div>
        <a href="/home">Back to the home page</a><br>
        <a href="/about">Learn more about him</a><br>
        <a href="/works">Check out his costume collection</a><br>
    </div>
</body>
</html>