<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halloween Costumes</title>
    <link rel="stylesheet" href="/stylesheets/works.css">
</head>
<body>

    <img id="bee" src="/images/leo-bee.JPG" alt="bee Leo">

    <img id="aviator" src="/images/leo-aviator.jpg" alt="aviator Leo">

    <p></p>

    <div>
        <a href="/home">Back to the home page</a><br>
        <a href="/about">Learn more about him</a><br>
        <a href="/gallery">See more photos</a>
    </div>


</body>
</html>